<div>
  Inserir cliente

</div>
<form [formGroup]="clienteForm" class="needs-validation" novalidate (ngSubmit)="onSubmit()">
  <div class="form-row">
    <div class="form-group col-md-3">
      <label for="inputId">Código do Cliente</label>
      <input type="number" class="form-control" id="inputId" placeholder="Código do Cliente" formControlName="id">
    </div>
  </div>
  <div class="form-row">
    <div class="form-group col-md-12">
      <label for="inputNome">Nome</label>
      <input type="text" class="form-control" id="inputNome" placeholder="Nome" formControlName="nome">
    </div>
  </div>
  <div class="form-row">
    <div class="form-group col-md-4">
      <label for="inputDtNascimento">Data Nascimento</label>
      <input type="date" class="form-control" id="inputDtNascimento" placeholder="Data de Nascimento" formControlName="dtNascimento">
    </div>
    <div class="form-group col-md-8">
      <label for="inputEmail">Email</label>
      <input type="email" class="form-control" id="inputEmail" placeholder="Email" formControlName="email">
    </div>
  </div>
  <div class="form-row">
  <div class="form-group  col-md-2">
    <div class="form-check">
      <input class="form-check-input" type="checkbox" id="gridCheck1" formControlName="usaSuplementos" >
      <label class="form-check-label" for="gridCheck1">Usa Suplementos </label>
    </div>
  </div>
  <div class="form-group">
    <div class="form-check">
      <input class="form-check-input" type="checkbox" id="gridCheck" formControlName="atividadeEsportiva">
      <label class="form-check-label" for="gridCheck">Realiza atividades físicas</label>
    </div>
  </div>
</div>
  <div class="form-group">
    <label for="textAreaObservacao">Observação</label>
    <textarea class="form-control" id="textAreaObservacao" rows="3" formControlName="obs"></textarea>
  </div>


  <div class="form-group">
    <label for="inputAddress">Endereco</label>
    <input type="text" class="form-control" id="inputAddress" placeholder="1234 Main St">
  </div>
  <div class="form-group">
    <label for="inputAddress2">Address 2</label>
    <input type="text" class="form-control" id="inputAddress2" placeholder="Apartment, studio, or floor">
  </div>
  <div class="form-row">
    <div class="form-group col-md-6">
      <label for="inputCity">City</label>
      <input type="text" class="form-control" id="inputCity">
    </div>
    <div formGroupName="enderecos" class="col-md-4">

    <div class="form-group col-md-4">
      <label for="inputState">UF</label>
      <select id="inputState" class="form-control" formControlName="uf">
        <option selected>Choose...</option>
        <option *ngFor="let uf of siglas" [value]="uf">{{uf}}</option>
      </select>
    </div>
    </div>
    <div class="form-group col-md-2">
      <label for="inputZip">Zip</label>
      <input type="text" class="form-control" id="inputZip">
    </div>
  </div>
  <div class="form-group">
    <div class="form-check">
      <input class="form-check-input" type="checkbox" id="gridCheck">
      <label class="form-check-label" for="gridCheck">
        Check me out
      </label>
    </div>
  </div>
  <button class="btn btn-primary btn-block">Salvar</button>
</form>